<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyStudyLife.Properties.Settings.DBMyStudyLifeConnectionString"
            connectionString="server=localHost;persistsecurityinfo=True;user id=root;database=DBMyStudyLife"
            providerName="MySql.Data.MySqlClient" />
        <add name="MyStudyLife.Properties.Settings.DBMyStdLifeConnectionString"
            connectionString="server=localHost;user id=root;database=DBMyStdLife;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>